<section>
    <div class="content">
        <div class="contact-header">
            <h1>{{ 'contact.title' | translate }}</h1>
        </div>
        <div class="contact-main">
            <div class="text">
                <h2>{{ 'contact.heading' | translate }}</h2>
                <p>{{ 'contact.text1' | translate }}</p>
                <p [innerHTML]="'contact.text2' | translate"></p>
            </div>
            @if (sentEmail) {
            <div class="user-feedback">
                <span [innerHTML]="'contact.feedback.sent' | translate" class="sent-email-feedback"></span>
                <button (click)="newEmail()" class="button-green">{{ "contact.feedback.newEmail" | translate}}</button>
            </div>
            }@else {
            <form class="contact-field" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                <div class="contact-label">
                    <label [ngClass]="{'invalid':name.invalid && (name.touched || trySubmit), 'valid': name.valid}"
                        class="input-label" for="name">
                        <input [(ngModel)]="contactData.name"
                            placeholder="{{ 'contact.placeholders.name' | translate }}" name="name" minlength="3"
                            type="text" [ngModelOptions]="{ updateOn: 'blur' }" id="name" required #name="ngModel">
                    </label>
                    <span>@if (name.invalid && (name.touched || trySubmit)) {
                        @if (name.errors?.['required']) {
                        {{ "contact.validation.nameRequired" | translate}}
                        }@else if (name.errors?.['minlength']) {
                        {{ "contact.validation.nameMinlength" | translate}}
                        }
                        }
                    </span>
                </div>
                <div class="contact-label">
                    <label [ngClass]="{'invalid':email.invalid && (email.touched || trySubmit), 'valid': email.valid}"
                        class="input-label" for="email">
                        <input [(ngModel)]="contactData.email" name="email"
                            placeholder="{{ 'contact.placeholders.email' | translate }}" type="text"
                            [ngModelOptions]="{ updateOn: 'blur' }" required id="email" #email="ngModel"
                            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                    </label>
                    <span>@if (email.invalid && (email.touched || trySubmit)) {
                        @if(contactData.email == "") {
                        {{ "contact.validation.emailRequired" | translate}}
                        }@else {
                        {{ "contact.validation.emailInvalid" | translate}}
                        }
                        }
                    </span>
                </div>
                <div class="contact-label">
                    <label
                        [ngClass]="{'invalid':message.invalid && (message.touched || trySubmit), 'valid': message.valid}"
                        class="input-label" for="message">
                        <textarea [(ngModel)]="contactData.message" name="message" required
                            [ngModelOptions]="{ updateOn: 'blur' }" id="message" minlength="10"
                            placeholder="{{ 'contact.placeholders.message' | translate }}" #message="ngModel">
                        </textarea>
                    </label>
                    <span>@if (message.invalid && (message.touched || trySubmit)) {
                        @if(contactData.message == "") {
                        {{ "contact.validation.messageRequired" | translate}}
                        }@else {
                        {{ "contact.validation.messageMinlength" | translate}}
                        }
                        }
                    </span>
                </div>
                <div class="privacy-input">
                    <div class="custom-checkbox">
                        <label for="checkbox"
                            [ngClass]="{'checkbox': !isChecked, 'checkbox-checked': isChecked}"></label>
                        <input id="checkbox" name="checkbox" #checkbox="ngModel" required [(ngModel)]="isChecked"
                            type="checkbox">
                    </div>
                    <p [innerHTML]="'contact.privacyText' | translate"></p>
                    <span>@if ((checkbox.touched || trySubmit) && checkbox.invalid) {
                        {{ "contact.validation.checkboxRequired" | translate}}
                        }</span>
                </div>
                <button [ngClass]="{'button-disabled': !contactForm.valid}" class="button-green submit-button">
                    {{ "contact.submit" | translate}}
                </button>
            </form>}
        </div>
        <div class="scroll-back">
            <a href="#home"><img class="image-button" src="assets/icons/4. Go up button.png" alt=""></a>
        </div>
    </div>
    <div class="placeholder"></div>
    <img class="shadow" src="assets/img/33. Purple shadow Footer.png" alt="">
</section>