<section>
  <div
    class="project"
    *ngFor="let key of projectKeys; let i = index"
    [ngClass]="{ reverse: i % 2 !== 0 }">
    <div class="image-section">
      <img data-aos="flip-up" class="works-image" [src]="'assets/img/laptop_' + i + '.png'" alt="">
    </div>
    <div data-aos="fade-right" class="text-section">
      <h2>{{ 'projects.' + key + '.title' | translate }}</h2>
      <h3>{{ 'projects.' + key + '.subtitle' | translate }}</h3>
      <p>{{ 'projects.' + key + '.description' | translate }}</p>
      <div class="works-buttons">
        <a *ngIf="projectLinks[i] !== 'noLink'" target="_blank" href="{{ projectLinks[i]}}" class="button-purple">{{ 'projectsButton.button' | translate }}</a>
        <button *ngIf="projectLinks[i] == 'noLink'" disabled target="_blank" class="button-purple button-disabled">{{ 'projectsButton.disabledButton' | translate }}</button>
        <a target="_blank" href="{{ githubLinks[i]}}" class="button-transparent">Github</a>
      </div>
    </div>
  </div>
</section>