.works-image {
    width: 600px;
}

.image-section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;

    >h2 {
        width: 100%;
        text-align: left;
        color: #9747FF;
    }

    >h3 {
        width: 100%;
        text-align: left;
        color: #70E61C;
        font-weight: 400;
    }

    >p {
        width: 100%;
        text-align: left;
        color: white;
    }
}

.project {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 100px;
   
}

section {
    max-width: 1920px;
    margin-top: 100px;
}

.project.reverse {
    flex-direction: row-reverse !important;
    text-align: right;

    >div {
        >h2 {

            text-align: right !important;

        }

        >h3 {

            text-align: right !important;


        }

        >p {

            text-align: right !important;

        }
    }

    .works-buttons {
        justify-content: flex-end !important;
    }

}

.works-buttons {
    margin-top: 24px;
    display: flex;
    gap: 48px;
    justify-content: flex-start;
    width: 100%;
}