<section>
    <div class="content">
        <a href="#home"><img class="logo" src="assets/img/portfolio_logo.png" alt=""></a>
        <nav>
            <a href="/#about_me" [class.active]="activeSection === 'about_me'">{{ "header.aboutMe" | translate }}</a>
            <a href="/#skills" [class.active]="activeSection === 'skills'">Skills</a>
            <a href="/#portfolio" [class.active]="activeSection === 'portfolio'">Portfolio</a>
            <div class="language">
                <span class="button-small" [class.active-small]="currentLang === 'de'" (click)="switchLanguage('de')">
                    {{ "header.ge" | translate }}
                </span>
                <span class="button-small" [class.active-small]="currentLang === 'en'" (click)="switchLanguage('en')">
                    {{ "header.en" | translate }}
                </span>
            </div>
        </nav>
        <div (click)="burgerOpen()" class="burger-icon" [ngClass]="{'d-none' : isMenuOpen}">
            <img src="assets/icons/burger.png" alt="">
        </div>
    </div>
    <div [ngClass]="{'slide-animation' : !isMenuOpen}" class="burger-menu slide-animation">
        <div class="burger-header">
            <a href="#home"><img (click)="burgerOpen()" class="portfolio-logo" src="assets/img/portfolio_logo.png" alt=""></a>
            <img class="close" (click)="burgerOpen()" src="assets/icons/close.png" alt="">
        </div>
        <div class="burger-content">
            <a href="#about_me" [class.active]="activeSection === 'about_me'" (click)="burgerOpen()">{{ "header.aboutMe" | translate }}</a>
            <a href="#skills" [class.active]="activeSection === 'skills'" (click)="burgerOpen()">Skills</a>
            <a href="#portfolio" [class.active]="activeSection === 'portfolio'" (click)="burgerOpen()">Portfolio</a>
            <div class="mobile-translate-buttons">
                <span class="button-small-mobile" [class.active-small-mobile]="currentLang === 'de'" (click)="switchLanguage('de')">
                    {{ "header.ge" | translate }}
                </span>
                <span> / </span>
                <span class="button-small-mobile" [class.active-small-mobile]="currentLang === 'en'" (click)="switchLanguage('en')">
                    {{ "header.en" | translate }}
                </span>
            </div>
        </div>
    </div>
</section>