section {
    height: 100px;
    background-color: #141D2F;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
  

}

a.active {
  color: #70E61C;
  border-bottom: 3px solid #9747FF;
}

.content {
    padding: 40px 100px 64px;
    width: 100%;
    max-width: 1920px;
     display: flex;
    justify-content: space-between;
    align-items: center;
     >img {
        width: 200px;
    }
    >nav {
        display: flex;
        gap: 24px;
    }

}