.content {
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 100px 100px 0;
    position: relative;
       
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

}

// .images {
//     width: 40%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: relative;
// }

.person {
 width: 100%;
 height: 100%;
 object-fit: contain;
    z-index: 1;
}

.text-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    position: relative;
    z-index: 4;
    flex: 1;
}



.name {
    position: relative;

    >h1 {
        font-size: 50px;
        font-weight: 700;
        padding-left: 76px;
    }

    >h2 {
        width: 100%;
        font-size: 40px;
        font-weight: 400;
        letter-spacing: 4px;
        color: #9747FF;
        text-align-last: justify;
        padding-left: 76px;
        margin-top: -16px;
    }

    >span {
        position: absolute;
        color: white;
        rotate: -90deg;
        font-size: 41px;
        top: 33px;
        left: 0px;
    }

}

// .shape {
//     position: absolute;
//     z-index: 1;
//     top: 55%;
//     width: 100%;
//     height: 600px;
// }

.person-background {
    position: absolute;
    left: -154px;

}


.person-arm {
    position: absolute;
    z-index: 3;
    width: 500px;
    left: 0;
}

.hero-footer {
    position: absolute;
    bottom: 80px;
    left: 200px;
    display: flex;
    z-index: 5;
    align-items: center;
    gap: 24px;

    >p {
        color: white;
        font-size: 21px;
    }
}

.placeholder-horizontal {
    position: absolute;
    left: 0;
    right: calc(50% + 800px);
    bottom: 94px;
    height: 3px;
    background-color: #9747FF;
    z-index: 4;
    min-width: 170px
}

.scroll-down {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 12px;
    bottom: 100px;
    color: white;
    rotate: 90deg;
    right: 64px;
    z-index: 4;

    >img {
        rotate: -90deg;
    }
}


.images {
      z-index: 2;
    position: relative;
    border: 3px solid black;
    width: 50%;
    height: 100%;
 
}

.shape {
    /* height: 560px; */
    height: 50%;
    position: absolute;
    bottom: -65px;
    left: -30vw;
    width: 130vw;
    z-index: 1;
   
}


// @media (max-width: 1220px) {
//     .name {
//         position: relative;

//         >h1 {
//             font-size: 40px;
//         }

//         >h2 {
//             font-size: 30px;

//         }

//         >span {
//             font-size: 31px;
//             top: 22px;
//             left: 21px;
//         }

//     }

//     .person {
//         width: 428px;
//     }

//     .person-arm {
//         width: 428px;
//     }

//     .text-section {
//         margin-top: -300px;
//     }

//     .content {
//         padding: 200px 50px 0;
//     }

//     .placeholder-horizontal {
//         min-width: 70px;
//     }

//     .hero-footer {
//         left: 100px;
//     }

// }




// @media (max-width: 910px) {

//     .scroll-down {
//         display: none;
//     }
//     .content {
//         flex-direction: column;
//         justify-content: unset;
//     }

//     .person {
//         width: 300px;
//     }

//     .person-arm {
//         width: 300px;
//     }


//     .shape {
//         top: 40%;
//         height: 50%;
//         height: 339px;
//     }

//     .person-background {
//         width: 500px;
//     }

//     .text-section {
//         margin-top: unset;
//         flex: unset;
//     }

// }