<section>
    <div class="content">
        <div class="images">
            <img class="person-shadows" src="assets/img/29. photo shadows.png" alt="">
            <img class="person" src="assets/img/photo2.png" alt="">
            <img class="bg" src="assets/img/bg.png" alt="">
            <img class="person-arm" src="assets/img/arm.png" alt="">


        </div>
        <div class="text">
            <div>
                <div class="name">
                    <h1>Bence Cservenyák</h1>
                    <h2>Frontend Developer</h2>
                    <span>I am</span>
                </div>
                <a class="button-green" href="#contact">Let's Talk</a>

            </div>

        </div>
        <div class="hero-footer">
            <img src="assets/icons/github.png" alt="">
            <img src="assets/icons/mail.png" alt="">
            <img src="assets/icons/in.png" alt="">
            <p>contact&#64;bence-cservenyak.com</p>

        </div>
        <div class="scroll-down">Scroll down <img src="assets/icons/arrow.png" alt=""></div>


    </div>

    
    <div class="placeholder-horizontal"></div>


</section>