<section id="home">

    <div class="content">


    </div>






    <div class="shape-with-person">
        <div class="photo-container">
            <div class="person">
                <img class="background" src="assets/img/29. photo shadows.png" alt="">
                <img src="assets/img/photo2.png" alt="">
                <img class="photo-arm" src="assets/img/arm.png" alt="">
            </div>
            <div class="person-name">
                <h1>Bence Cservenyak</h1>
                <span>I am</span>
                <h2>FRONTEND DEVELOPER</h2>
                <p class="button">Let's Talk</p>
            </div>

        </div>


        <img class="shape" src="assets/img/28. Hero Background.png">
    </div>

    <div class="hero-footer">
        <div class="placeholder-horizontal"></div>
        <img src="assets/icons/github.png" alt="">
        <img src="assets/icons/mail.png" alt="">
        <img src="assets/icons/in.png" alt="">
        <p>contact&#65312;bence-cservenyak.com</p>
    </div>

    <div class="scroll-down">Scroll down <img src="assets/icons/arrow.png" alt=""></div>






</section>