section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.content {
    max-width: 1920px;
    height: 100%;
    position: relative;
    padding: 200px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.images {
    width: 40%;
    object-fit: contain;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    max-height: 1000px;
    min-height: 400px;

}

.placeholder-horizontal {
    position: absolute;
    left: 0;
    right: calc(50% + 844px);
    bottom: 94px;
    height: 3px;
    background-color: #9747FF;
    z-index: 4;
    min-width: 170px
}

.text {
    flex: 1;
    position: relative;

    height: 100%;

    >div {
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
    }

}


.person {
    width: 400px;
    object-fit: contain;
    height: 100%;
}

.person-arm {
    width: 400px;
    object-fit: contain;
    height: 100%;
    position: absolute;

}

.shape {
    position: absolute;
    top: calc(50% - 229px);
    left: -50vw;
    /* top: 0; */
    width: 145vw;
    max-height: 1000px;
}

.bg {
     position: absolute;
    top: calc(50% - 126px);
    left: -50vw;
    width: 145vw;
    max-height: 803px;
}

.hero-footer {
    position: absolute;
    bottom: 80px;
    left: 200px;
    display: flex;
    z-index: 5;
    align-items: center;
    gap: 24px;

    >p {
        color: white;
        font-size: 21px;
    }
}

.scroll-down {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 12px;
    bottom: 100px;
    color: white;
    rotate: 90deg;
    right: 64px;
    z-index: 4;

    >img {
        rotate: -90deg;
    }
}

.name {
    position: relative;
    padding-left: 46px;

    >h1 {
        font-size: 50px;
    }

    >h2 {
        font-size: 40px;
        width: 100%;
        text-align-last: justify;
        color: #9747FF;
        font-weight: 400;
        letter-spacing: 5px;
        margin-top: -20px;
    }

    >span {
        color: white;
        position: absolute;
        rotate: -90deg;
        font-size: 39px;
        top: 31px;
        left: -25px;
    }
}


@media (max-width: 3000px) {
    .text {
        >div {
            top: 25%;
        }
    }

}

@media (max-width: 1000px) {

    .bg {
        top: calc(50% - 73px);
        left: -19vw;
        width: 111vw;
    }

    .scroll-down {
        display: none;
    }

    .placeholder-horizontal {
        min-width: 30px;
    }

    .hero-footer {
        left: 58px;
    }

}

// @media (max-width: 2000px) {
//     .bg {
//         position: absolute;
//         bottom: -442px;
//         left: -22vw;
//         width: 119vw;
//         max-height: 170%;
//     }

//     .text {
//         >div {
//             top: 20%;
//         }
//     }

// }