<section>
    <div class="content">
        <div data-aos="fade-up" class="images">
            <img class="person-shadows" src="assets/img/29. photo shadows.png" alt="">
            <img class="person" src="assets/img/photo2.png" alt="">
            <img class="bg" src="assets/img/bg.png" alt="">
            <img class="person-arm" src="assets/img/arm.png" alt="">
        </div>
        <div data-aos="zoom-in" class="text">
            <div>
                <div class="name">
                    <h1>Bence Cservenyak</h1>
                    <h2>Frontend Developer</h2>
                    <span>I am</span>
                </div>
                <a class="button-green" href="#contact">{{ "hero.letsTalk" | translate}}</a>
            </div>
        </div>
        <div data-aos="fade-right" class="hero-footer">
            <a target="_blank" href="https://github.com/Hummner"><img class="image-button" src="assets/icons/github.png" alt=""></a>
            <a target="_blank" href="mailto: contact@bence-cservenyak.com"><img class="image-button" src="assets/icons/mail.png" alt=""></a>
            <a target="_blank" href="https://www.linkedin.com/in/bence-cservenyak-63923036b/"><img class="image-button" src="assets/icons/in.png" alt=""></a>
            <a target="_blank" href="mailto: contact@bence-cservenyak.com"><p class="email">contact&#64;bence-cservenyak.com</p></a>
        </div>
        <div class="scroll-down">{{ "hero.scroll" | translate }} <img src="assets/icons/arrow.png" alt=""></div>
    </div>
    <div class="placeholder-horizontal"></div>
</section>