.about-me-text {
    width: 50%;

    >p {
        color: white;
        font-size: 21px;
    }
}

h1 {
    margin-bottom: 64px;
}

.content {
    max-width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
    overflow-x: hidden;
    position: relative;
    z-index: 5;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

}

.shadow {
    position: absolute;
    right: calc(50% - 1400px);
    z-index: 4;
}

.about-me-list {
    display: flex;
    margin-top: 64px;
    align-items: center;

    >img {
        margin-right: 24px;
        width: 50px;
        height: 50px;
        object-fit: contain;
    }

    >p {
        color: white;
        font-size: 21px;
    }
}

.about-me-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    >img {
        width: 400px;
        height: 400px;
        border-radius: 100%;
        border: 3px solid #70E61C;
    }
}

.placeholder-horizontal {
    position: absolute;
    right: 0;
    left: calc(50% + 627px);
    top: calc(30% + 222px);
    height: 3px;
    background-color: #70E61C;
}

@media (max-width: 1920px) {
    .placeholder-horizontal-image {
        display: block;
        height: 3px;
        left: calc(50% + 200px);
        background-color: #70E61C;
        position: absolute;
        width: calc(50% + 150px);
    }

    .placeholder-horizontal {
        display: none;
    }

    .shadow {
        right: -480px;
        top: 10%;
    }
}

@media (max-width: 1200px) {
    .about-me-img {
        >img {
            width: 300px;
            height: 300px;
        }
    }

    .placeholder-horizontal-image {
        left: calc(50% + 150px);
    }
}

@media (max-width:920px) {
    .about-me-img {
        display: none;
    }

    .content {
        padding: 50px 50px;
    }

    .about-me-text {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .content {
        padding: 50px 16px;
    }

    .about-me-list {
        >img {
            width: 32px;
            height: 32px;
        }
    }
}