<section id="about_me">
    <div class="content">
          <div class="about-me-text">
        <h1>About me</h1>
        <p>I've been a tech lover since childhood, and coding has always been my dream job. What excites me most about programming is the ability to bring ideas to life and solve real-world problems through technology. My passion for continuous learning and curiosity about how things work drive me to constantly improve my skills and stay up to date with new tools and technologies.</p>
        <div class="about-me-list">
            <img src="assets/icons/location.png" alt="">
            <p>I'm based in Essen, Germany. I'm open to different ways of working, including remote work and relocation, depending on the opportunity and team.</p>
        </div>
         <div class="about-me-list">
            <img src="assets/icons/bulb.png" alt="">
            <p>I'm always excited to learn new things and gain more experience. In the IT field, it's essential to stay up to date—and that mindset fits me perfectly. I'm open-minded, curious, and always looking for opportunities to grow and improve my skills.</p>
        </div>
           <div class="about-me-list">
            <img src="assets/icons/puzzle.png" alt="">
            <p>I enjoy approaching complex tasks with a mix of logic and creativity. Instead of seeing obstacles as setbacks, I treat them as chances to learn and grow. I'm persistent in finding clean and effective solutions, and I enjoy working with others to exchange ideas and improve outcomes. Analytical thinking, curiosity, and teamwork are key parts of how I tackle problems in coding.</p>
        </div>

    </div>
   

    </div>
     <div class="about-me-img">
        <img src="assets/img/photo1.png" alt="">
        
    </div>
    <div class="placeholder-horizontal"></div>
  
</section>
