<section>

    <div class="content">
        <div class="text-intro-mobile">
            <h1>My skills</h1>
            <p>Here’s a look at the front-end technologies I’ve worked with so far. Through each project, I’ve
                deepened
                my understanding and learned how to apply these tools effectively to create engaging and functional
                user
                interfaces.</p>
        </div>
        <div class="icons-section">
            <div class="icon">
                <img src="assets/icons/html_1.png" alt="">
                <span>HTML</span>
            </div>
            <div class="icon">
                <img src="assets/icons/CSS_2.png" alt="">
                <span>CSS</span>
            </div>
            <div class="icon">
                <img src="assets/icons/Javascript_3.png" alt="">
                <span>CSS</span>
            </div>
            <div class="icon">
                <img src="assets/icons/git_4.png" alt="">
                <span>Git</span>
            </div>
            <div class="icon">
                <img src="assets/icons/api_6.png" alt="">
                <span>Rest API</span>
            </div>
            <div class="icon">
                <img src="assets/icons/typescript_7.png" alt="">
                <span>TypeScript</span>
            </div>
            <div class="icon">
                <img src="assets/icons/Firebase_8.png" alt="">
                <span>Firebase</span>
            </div>
            <div class="icon">
                <img src="assets/icons/Angular_9.png" alt="">
                <span>Angular</span>
            </div>
            <div class="icon">
                <img src="assets/icons/material_10.png" alt="">
                <span>Material</span>
            </div>
            <div class="icon">
                <img src="assets/icons/scrum_11.png" alt="">
                <span>Scrum</span>
            </div>
            <div class="icon purple" (mouseenter)="this.showDialog = true" (mouseleave)="this.showDialog = false">
                <img class="learning-icon" src="assets/icons/Property 1=Continually learning.png" alt="">
                <span>Continually<br>learning</span>
                <div class="small-dialog-box" *ngIf="showDialog">
                    <img class="triangle" src="assets/icons/triangle.png" alt="">
                    <img src="assets/icons/dialog.png" alt="">
                    <div class="dialog-content">
                        <div class="dialog-text">
                            <span>I have a special interest in learning</span>
                        </div>
                        <div class="dialog-img">
                            <div>
                                <img src="assets/icons/vue.png" alt="">
                                <span>Vue Js</span>
                            </div>
                            <div>
                                <img src="assets/icons/React.png" alt="">
                                <span>React</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-section">
            <div class="text-intro">
                <h1>My skills</h1>
                <p>Here’s a look at the front-end technologies I’ve worked with so far. Through each project, I’ve
                    deepened
                    my understanding and learned how to apply these tools effectively to create engaging and functional
                    user
                    interfaces.</p>
            </div>


            <h2>Looking for <span>another skill </span>?</h2>
            <p>I'm always looking to expand my skill set and explore new technologies. Frameworks like Vue.js or
                React.js really interest me because they offer powerful ways to build modern, interactive web
                applications. I'm also excited to dive deeper into backend development to better understand the full
                picture of web applications and become a more well-rounded developer.</p>

            <button class="button-green">Get in touch</button>

        </div>


    </div>
    <img class="shadow" src="assets/img/54. Green shadow 3 (skills and portfolio section).png" alt="">
    <div class="placeholder-horizontal"></div>

</section>