<section id="#legal-notice">
    <div class="content">
        <h1>{{ 'imprint.title' | translate }}</h1>

        <h2>{{ 'imprint.responsible.title' | translate }}</h2>
        <p>{{ 'imprint.responsible.name' | translate }}</p>
        <p>{{ 'imprint.responsible.address' | translate }}</p>
        <p>{{ 'imprint.responsible.email' | translate }}</p>

        <h2>{{ 'imprint.disclaimer.title' | translate }}</h2>
        <p>{{ 'imprint.disclaimer.text' | translate }}</p>

        <h2>{{ 'imprint.copyright.title' | translate }}</h2>
        <p>{{ 'imprint.copyright.text' | translate }}</p>

    </div>

    <div class="placeholder"></div>
    <div class="placeholder-small"></div>
    <img class="shadow" src="assets/img/33. Purple shadow Footer.png" alt="">
</section>