section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 100px;
    gap: 24px;
    position: relative;
    overflow: hidden;
}

.content {
    max-width: 1920px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 50px;
    z-index: 2;
}

.shadow {
    position: absolute;
    right: calc(50% - 1000px);
    z-index: 1;
    rotate: 90deg;
    width: 500px;
}

.comment-section {
    flex: 1;
}

.container {
    border-radius: 20px;
    border: 3px solid #70E61C;
    height: 300px;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px;
}

.slider-buttons {
    display: flex;
    align-items: center;
    gap: 8px;

    >img {
        border-radius: 100%;
        padding: 8px;
        border: 3px solid transparent;
        cursor: pointer;

        &:hover {
            border: 3px solid #70E61C;
        }
    }

    >span {
        font-size: 40px;
        filter: brightness(0) saturate(100%) invert(31%) sepia(91%) saturate(3196%) hue-rotate(251deg) brightness(102%) contrast(101%);
    }
}


.image-section {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-name {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 24px;
}

.container-text {
    overflow-y: auto;
    margin-bottom: 24px;

    >p {
        text-align: center;
        color: white;
    }
}

.name {
    color: white;
}

.placeholder {
    display: flex;
    flex: 1;

    >div {
        height: 3px;
        width: 100%;
        background-color: #9747FF;
    }
}

.indicator.active {
    filter: brightness(0) saturate(100%) invert(81%) sepia(31%) saturate(4140%) hue-rotate(45deg) brightness(108%) contrast(82%) !important;
}

.placeholder-horizontal {
    position: absolute;
    right: 0;
    left: calc(50% + 658px);
    top: 250px;
    height: 3px;
    background-color: #9747FF;
    z-index: 2;

    @media (max-width: 1530px) {
        width: 102px;
        left: unset;
        right: 0;
    }
}

.quotation {
    position: absolute;
    top: -37px;
    left: -64px;
    z-index: 1;
}

@media (max-width: 1920px) {
    .shadow {
        right: -373px;
        rotate: 180deg;
        width: 531px;
    }
}

@media (max-width: 1200px) {
    .container {
        padding: 50px 24px;
    }
}

@media (max-width: 920px) {
    .content {

        flex-direction: column-reverse;
    }

    section {
        padding: 100px 50px;
    }

    .placeholder-horizontal {
        width: unset;
        left: calc(50% + 133px);
        right: 0;
        top: 240px;
    }

    .quotation {
        top: 279px;
        left: -6px;
        width: 80px;
    }

    .container-name {
        align-items: flex-start;
        gap: 16px;
        flex-direction: column;
    }

    .placeholder {
        width: 100px;
    }

    .container {
        height: 300px;
        gap: unset;
        padding: 24px 12px;
    }

    .container-text {
        margin-bottom: 24px;

    }

    .shadow {
        top: 0;
    }
}

@media (max-width: 500px) {
    section {
        padding: 50px 16px;
    }

    .image-section {
        >img {
            height: 200px;
            width: 200px;
        }
    }

    .placeholder-horizontal {
        left: calc(50% + 96px);
        top: 150px;
    }

    .quotation {
        top: 210px;
        left: -7px;
        width: 72px;

    }

    .shadow {
        width: 460px;
        top: -18px;
    }
}