<section>
    <div class="content">
        <div class="footer-logo">
            <a href="#home"><img src="assets/img/portfolio_logo.png" alt=""></a>
            <a routerLink="/legal-notice" routerLinkActive="active">{{ "footer.footerLink" | translate }}</a>
        </div>
        <div class="copyright">
            <h2>© Bence Cservenyak</h2>
        </div>
        <div class="social-media">
            <a target="_blank" href="https://github.com/Hummner"><img class="image-button" src="assets/icons/github.png" alt=""></a>
            <a target="_blank" href="mailto: contact@bence-cservenyak.com"><img class="image-button" src="assets/icons/mail.png" alt=""></a>
            <a target="_blank" href="https://www.linkedin.com/in/bence-cservenyak-63923036b/"><img class="image-button" src="assets/icons/in.png" alt=""></a>
        </div>
        <div class="legal-notice-mobile">
            <a routerLink="/legal-notice" routerLinkActive="active">{{ "footer.footerLink" | translate }}</a>
        </div>
    </div>
</section>