<section>
    <div class="content">
        <div class="footer-logo">
            <img src="assets/img/portfolio_logo.png" alt="">
            <a href="">Legal Notice</a>
        </div>
        <div class="copyright">
            <h2>© Bence Cservenyak</h2>
        </div>
        <div class="social-media">
            <img src="assets/icons/github.png" alt="">
            <img src="assets/icons/mail.png" alt="">
            <img src="assets/icons/in.png" alt="">
        </div>
        <div class="legal-notice-mobile">
            <a  href="">Legal Notice</a>
        </div>

    </div>

</section>