section {
    border-top: 3px solid #70E61C;
    background-color: #141D2F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 64px;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    >img {
        width: 300px;
    }
    >a {
        position: absolute;
        bottom: -32px;
    }
}

.copyright {
    color: white;
    font-size: 23px;
}