section {
    width: 100%;
    display: flex;
    justify-content: center;

    position: relative;
}

.content {
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 100px 100px;
}

span {
    color: white;
    margin-top: 24px;
}

.placeholder {
    position: absolute;
    height: 3px;
    top: 160px;
    right: 0;
    left: calc(50% + 200px);
    background-color: #9747FF;
}

.placeholder-small {
    position: absolute;
    height: 3px;
    top: 160px;
    width: 100px;
    left: calc(50% - 300px);
    background-color: #9747FF;
}

@media (max-width: 920px) {
    .content {
        padding: 100px 50px;
    }

    .placeholder {
        top: 140px;
        left: calc(50% + 140px);
    }

    .placeholder-small {
        left: calc(50% - 240px);
        top: 140px;
    }

}

@media (max-width: 500px) {
    .content {
        padding: 100px 16px;
    }

    .placeholder {
        top: 129px;
        left: calc(50% + 109px);
    }

    .placeholder-small {
        left: calc(50% - 142px);
        top: 131px;
        width: 34px;
    }

}

@media (max-width: 350px) {
    .placeholder-small {
        left: calc(50% - 127px);
        width: 18px;
    }
}