section {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.content {
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 80px 100px;
    z-index: 2;
}

.shadow {
    position: absolute;
    z-index: 1;
    top: 0;
    left: calc(50% - 1200px);
    top: 45%;
    opacity: 0.5;
    rotate: 180deg;
}

span {
    color: white;
    margin-top: 24px;
}

.placeholder {
    position: absolute;
    height: 3px;
    top: 140px;
    right: 0;
    left: calc(50% + 200px);
    background-color: #9747FF;
}

.placeholder-small {
    position: absolute;
    height: 3px;
    top: 140px;
    width: 100px;
    left: calc(50% - 300px);
    background-color: #9747FF;
}

@media (max-width:1920px) {
    .shadow {
        left: -200px;
    }
}

@media (max-width: 920px) {
    .content {
        padding: 80px 50px;
    }

    .placeholder {
        top: 120px;
        left: calc(50% + 140px);
    }

    .placeholder-small {
        left: calc(50% - 240px);
        top: 120px;
    }

    .shadow {
        width: 500px;
    }

}

@media (max-width: 500px) {
    .content {
        padding: 80px 16px;
    }

    .placeholder {
        top: 109px;
        left: calc(50% + 109px);
    }

    .placeholder-small {
        left: calc(50% - 142px);
        top: 111px;
        width: 34px;
    }
}

@media (max-width: 350px) {
    .placeholder-small {
        left: calc(50% - 127px);
        width: 18px;
    }
}